SERVER=${1}
PASSWORD=${2}
./shadowsocks2 -c "ss://AEAD_CHACHA20_POLY1305:${PASSWORD}@${SERVER}:8488" -verbose -socks :1080 -u -plugin ./v2ray-plugin_linux_amd64 -plugin-opts "tls;mode=websocket;path=/ws;host=DOMAIN_NAME;" > ss-client.log 2>&1 &
