SHADOWSOCKS_SF_CAPACITY=1e6 SHADOWSOCKS_SF_FPR=1e-6 SHADOWSOCKS_SF_SLOT=10 /home/ubuntu/shadowsocks2-linux-arm64 -s 'ss://AEAD_CHACHA20_POLY1305:YOUR_PASSWORD_HERE@:8488' -verbose -plugin /home/ubuntu/v2ray-plugin_linux_arm64 -plugin-opts "server" -plugin-opts "server;tls;host=DOMAIN_NAME;cert=/home/ubuntu/DOMAIN_NAME.cer;key=/home/ubuntu/DOMAIN_NAME.key" > /home/ubuntu/ss.log 2>&1
